<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    "Roboto",
    "Hexagon Akkurat",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  background-color: #3b444f;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  text-align: left;
  min-height: 100vh;
}

/* Custom styles for the profile interface */
.profile-container {
  background-color: #3b444f;
  min-height: 100vh;
  font-family:
    "Roboto",
    "Hexagon Akkurat",
    -apple-system,
    sans-serif;
}

.image-placeholder {
  background-color: #d9e9be;
  border-radius: 30px;
}

.bio-section {
  background-color: #343a43;
  border-radius: 6px;
}

.bio-title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.bio-underline {
  background-color: #e00c0c;
  width: 30px;
  height: 2px;
}

.bio-content {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.preferences-title {
  color: #bcbec5;
  font-size: 26px;
  font-weight: 500;
}

.preference-item {
  color: #bcbec5;
  font-size: 24px;
  font-weight: 300;
}

.user-name {
  color: #bcbec5;
  font-size: 41px;
  font-weight: 400;
  line-height: 47px;
}

.user-birth-date {
  color: #bcbec5;
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
}

.button-style {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
=======
>>>>>>> origin/main
